body {
  font-family: "Times New Roman", sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
a:hover {
  background-color: coral;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-inline: 15px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fs-1 {
  font-size: 20px;
  font-weight: 700;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

header {
  padding-top: 20px;
  padding-inline: 15px;
}

.header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logo-img {
  height: 150px;
  width: 150px;
  background-color: gray;
  text-align: center;
  vertical-align: middle;
  padding-top: 51px;
}
.header .logo-img .txt-lg {
  display: none;
}

nav ul {
  max-width: 400px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
nav ul li {
  margin-bottom: 10px;
}
nav ul li a {
  background-color: #3399FF;
  text-align: center;
  width: 200px;
  padding: 10px;
  color: #fff;
}

@media screen and (min-width: 993px) {
  header {
    padding-top: 20px;
    padding-inline: 15px;
  }
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .logo-img {
    height: 250px;
    width: 250px;
    padding-top: 101px;
    margin-bottom: 0;
  }
  .header .logo-img .txt-m {
    display: none;
  }
  .header .logo-img .txt-lg {
    display: block;
  }
  nav {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  nav ul li {
    font-size: 20px;
    line-height: 20px;
  }
  nav ul li a {
    width: 100px;
  }
}
section > div {
  border: 2px solid black;
  padding: 10px;
}

.banner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  padding-block: 8px;
  text-align: center;
}

@media screen and (min-width: 993px) {
  .layout-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .article {
    width: 75%;
    padding: 10px;
    margin-bottom: 0;
  }
  .article .fs-1 {
    line-height: 24px;
  }
  .article p {
    font-size: 16px;
  }
  .banner {
    padding: 5px;
  }
  .banner .img-box {
    width: 180px;
    height: 135px;
    padding: 0;
    margin-bottom: 10px;
  }
  footer {
    font-size: 20px;
    line-height: 1;
  }
}