// layout
body {
  font-family: "Times New Roman", sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: 1px solid darken(cornflowerblue, 50%);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}