.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-inline: 15px;
}

.d-flex {
  display: flex;
}

.fs-1 {
  font-size: 20px;
  font-weight: 700;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}