// layout
@import "./layout.scss";
// utils
@import "./utils.scss";

.header {
  padding-top: 20px;
  padding-inline: 15px;
  flex-direction: column; // 主軸變更為 Y 軸
  align-items: center; // 交叉軸(X軸)上的對齊

  .logo {
    padding-bottom: 20px;
  }

  ul {
    max-width: 400px;
    flex-wrap: wrap;
    text-align: center;

    a {
      width: 200px;
      padding: 10px;
      font-size: 20px;
      line-height: 1;
      background-color: #3399FF;
      color: #ffffff;
      font-weight: 700;
    }
  }
}