// 容器設定
.container {
  // mobile first：手機板設定
  // 69*4 + 24*4 = 372
  // 372+24 = 396
  max-width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    // 平板
    // 36*12 + 24*12 = 720px
    max-width: 720px;
  }

  @media screen and (min-width: 992px) {
    // 桌機
    // 設計稿的格線系統計算
    // col*12 => 86px*12 = 1032px
    // 12 條 col 有 11 個間距，加上最左最右 col 的外側間距共 1 個間距，共 12 個間距
    // => 24px*12 = 288px
    // 最大寬度 = 1032+288 = 1320
    max-width: 1320px;
  }
}

.row {
  display: flex;
}

.d-flex {
  display: flex;
}

.p-sm {
  padding: 0 13px;

  @media screen and (min-width: 768px) {
    padding: 0;
  }

}


// .row {
//   display: flex;
//   flex-wrap: wrap;
//   /* 抵銷最左邊和最右邊的 col 多出來的 padding */
//   margin-left: -12px;
//   margin-right: -12px;
//   // margin-inline: -12px;
// }

// .col-6 {
//   width: 50%;
//   // width: calc(50% - 2px);
//   padding-inline: 12px;
//   text-align: center;
//   border: 1px solid #FFFFFF;
//   line-height: 2;

// }