.d-flex {
  display: flex;
}

// 共用的基本樣式
// 容器設定
.container {
  // mobile first：手機板設定
  // 69*4 + 24*4 = 372
  // 372+24 = 396
  max-width: 100%;
  margin: 0 auto;
  // step 3:
  // 因 row 的 負值 margin 會產生 X 軸，
  // container 需用正 padding 來抵銷掉 X 軸
  // 下列三種設定法皆相同，擇一即可
  // 法 1
  // padding-inline: 13px;
  // 法 2
  padding: 0 13px;
  // 法 3
  // padding-left: 13px;
  // padding-right: 13px;

  @media screen and (min-width: 768px) {
    // 平板
    // 36*12 + 24*12 = 720px
    max-width: 720px;
  }

  @media screen and (min-width: 992px) {
    // 桌機
    // 設計稿的格線系統計算
    // col*12 => 86px*12 = 1032px
    // 12 條 col 有 11 個間距，加上最左最右 col 的外側間距共 1 個間距，共 12 個間距
    // => 24px*12 = 288px
    // 最大寬度 = 1032+288 = 1320
    max-width: 1320px;
  }
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // step 2: row 用 margin 把內容多推的 padding 抵銷掉
  margin: 0 -13px;

}

.col {
  max-width: 100%;
  text-align: center;
  // step 1: col 加 padding
  padding: 0 13px;
}

// h2
.col .section-title {
  padding-top: 40px;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
}

.col .sub-title {
  padding-top: 8px;
  padding-bottom: 24px;
  font-size: 48px;
  font-weight: 900;
  font-style: italic;
}

.col p {
  padding-bottom: 24px;
}

.pt-8 {
  padding-top: 8px;
}

.col .pb-40 {
  padding-bottom: 40px;
}

.col .mb40 {
  margin-bottom: 40px;
}

.col.last-col {
  padding-bottom: 16px;
}

// .pb-24 {
//   padding-bottom: 24px;
// }

.card {}