.landing-area {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover; // 自適應容器
  padding-block: 149px;
  // padding-bottom: 144px;

  .container {
    padding-inline: 14px;
  }

  .row {
    flex-direction: column;
  }

  .col {
    max-width: 100%;
    text-align: right; // 控容器內文字方向
  }

  p {
    color: $tertiary;

    &:nth-child(1) {
      font-size: 16px;
    }

    &:nth-child(2) {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 8px;
    }
  }

  button {
    font-size: 20px;
    line-height: 2;
    color: $primary;
    font-weight: 900;
    background-color: $theme-color;
  }

  a {
    font-size: 20px;
    line-height: 2;
    color: $primary;
    font-weight: 500;
    padding-inline: 12px;
    background-color: $theme-color;
  }

  @media screen and (min-width: 768px) {
    // 平板

  }

  @media screen and (min-width: 992px) {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");

  }
}

.about {
  font-size: 24px;
  line-height: 1.5;
  background-color: #fbf2f2;

  .container {
    // step 3:
    // 因 row 的 負值 margin 會產生 X 軸，
    // container 需用正 padding 來抵銷掉 X 軸
    padding: 0 13px;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // step 2: row 用 margin 把內容多推的 padding 抵銷掉
    margin: 0 -13px;
  }

  .col {
    text-align: center;
    margin-bottom: 32px;
    // padding-bottom: 32px; // 不知為啥無作用
    // step 1: col 加 padding
    padding: 0 13px;
  }

  .img-box {
    width: 80px;
    margin: 0 auto;
    padding-bottom: 24px;
  }

  .col h2 {
    padding-top: 40px;
    font-weight: 700;
  }

  .col h3 {
    font-weight: 700;
    padding-bottom: 8px;
  }

  .col p {
    font-size: 16px;
  }
}

.products {
  color: $theme-color;

  .container {
    // step 3:
    // 因 row 的 負值 margin 會產生 X 軸，
    // container 需用正 padding 來抵銷掉 X 軸
    padding: 0 13px;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // step 2: row 用 margin 把內容多推的 padding 抵銷掉
    margin: 0 -13px;
  }

  .col {
    max-width: 100%;
    text-align: center;
    padding-top: 24px;
    // step 1: col 加 padding
    padding-inline: 13px;
  }

  .col h2 {
    font-size: 24px;
    font-weight: 700;
    padding-top: 16px;
  }

  .col h4 {
    margin-top: 8px;
    font-size: 48px;
    font-weight: 900;
    font-style: italic;
  }
  
  .last-col {
    padding-bottom: 24px;
  }
}

.co-branding {
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover; // 自適應容器

  .container {
    padding-inline: 13px;
  }

  .row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .col {
    max-width: 100%;
    padding-top: 24px;
  }

  .col h2 {
    color: white;
    font-size: 24px;
    line-height: 1.5;
    padding-top: 16px;
  }

  .col p {
    background-color: #fff;
    font-size: 48px;
    line-height: 1.5;
    font-weight: 900;
    font-style: italic;
    padding-block: 8px;
  }
}