.landing-area {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover; // 自適應容器
  padding-block: 149px;
  // padding-bottom: 144px;

  .col {
    text-align: right; // 控容器內文字方向
  }

  p {
    color: $tertiary;

    &:nth-child(1) {
      font-size: 16px;
    }

    &:nth-child(2) {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 8px;
    }
  }

  button {
    font-size: 20px;
    line-height: 2;
    color: $primary;
    font-weight: 900;
    background-color: $theme-color;
  }

  a {
    font-size: 20px;
    line-height: 2;
    color: $primary;
    font-weight: 500;
    padding-inline: 12px;
    background-color: $theme-color;
  }

  @media screen and (min-width: 768px) {
    // 平板

  }

  @media screen and (min-width: 992px) {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
  }
}

.about {
  font-size: 24px;
  line-height: 1.5;
  background-color: $primary;

  .img-box {
    width: 83px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    padding-bottom: 24px;
  }

  .col h3 {
    font-weight: 700;
    padding-bottom: 8px;
  }

  .col p {
    font-size: 16px;
  }
}

.products {
  color: $theme-color;

  .section-title {
    color: $tertiary;
  }
}

.co-branding {
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover; // 自適應容器

  .container {
    padding-inline: 13px;
  }

  .col .section-title {
    color: white;
  }

  .col p {
    color: $theme-color;
    background-color: #fff;
    font-size: 48px;
    line-height: 1.5;
    font-weight: 900;
    font-style: italic;
    padding-block: 8px;
    margin-bottom: 24px;
  }

}

.customer-recommend {
  .customer-card {
    width: 100%;
    box-shadow: 0px 2px 6px #00000029;
    border-radius: 4px;
    // 推出每張卡間的垂直間距
    margin-bottom: 16px;
  }

  .img-box {
    // max-width: 348px;
    width: 100%;
    aspect-ratio: 348 / 306;
    margin: 0 auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: start;
    color: #000;
    padding: 16px;
  }

  .name {
    font-weight: 500;
    margin-bottom: 8px;
  }

  .date {
    // 推出上方空間
    margin-top: auto;
    font-size: 14px;
    color: #707070;
    // 把 utili 設的值清空，用 .content 處理文字區塊的間距
    padding: 0;
  }
}