.footer {
  background-color: $theme-color;
  color: white;

  .container {
    max-width: 1296px;
  }

  .col {
    padding: 0 16px;

    @media screen and (min-width: 576px) {
      padding: 0 36px;
    }
  }

  .top-group {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      margin-top: 60px;
    }
  }

  .content {
    @media screen and (min-width: 768px) {
      width: 100%;
    }
  }

  ul {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      margin-bottom: 36px;

      li {
        padding-block: 12px;
      }
    }
  }

  .icon-group {
    text-align: start;
  }

  .icon-group>.material-icons-outlined {
    vertical-align: text-bottom;
    margin-right: 5px;

    @media screen and (min-width: 768px) {
      margin-right: 22px;
    }
  }

  .icon-box {
    width: 24px;
    height: 24px;

    @media screen and (min-width: 768px) {
      width: 48px;
      height: 48px;
    }
  }

  .icon-group span {
    @media screen and (min-width: 768px) {
      font-size: 36px;
    }
  }

  // 控 material icon 用 font-size 就可
  // .material-symbols-outlined {
  //   font-size: 24px;
  //   vertical-align: middle;

  //   @media screen and (min-width: 768px) {
  //     font-size: 36px;
  //     vertical-align: bottom;
  //   }

  //   // 細部設定
  //   // font-variation-settings:
  //   //   'FILL' 0,
  //   //   'wght' 400,
  //   //   'GRAD' 0,
  //   //   'opsz' 24;
  // }

  .social-medias {
    display: flex;
  }

  .d-pc-none {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .d-mobile-none {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  .pc-nav {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;

      .social-medias .icon-box {
        margin-right: 32px;

        &:last-child {
          // 大版第三個不右推
          margin: 0;
        }
      }
    }
  }

  .declaration {
    text-align: start;
  }

  .declaration p {
    padding-bottom: 8px;
  }

  @media screen and (min-width: 768px) {
    .declaration {
      display: flex;
      justify-content: space-between;
      margin-block: 32px;

      .pc-box {
        display: flex;

        p:nth-child(1) {
          margin-right: 48px;
        }
      }
    }
  }
}