.footer {
  background-color: $theme-color;
  color: white;

  .col {
    padding: 0 16px;

    @media screen and (min-width: 576px) {
      padding: 0 36px;
    }
  }

  .top-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      padding-bottom: 32px;
      margin-top: 60px;
    }
  }

  .content {
    @media screen and (min-width: 768px) {
      width: 100%;
    }
  }

  ul {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      margin-bottom: 36px;

      li {
        padding-block: 12px;
      }
    }
  }

  .pc-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    li {
      display: inline-block;
    }

    ul, .social-medias-inner {
      display: flex;
      align-items: center;
    }

    @media screen and (min-width: 768px) {

      li {
        padding-right: 48px;
      }

      .social-medias-inner .icon-box {
        width: 40px;
        height: 40px;
        margin-right: 16px;

        &:last-child {
          // 大版第三個不右推
          margin: 0;
        }
      }
    }


    @media screen and (min-width: 992px) {
      .social-medias .icon-box {
        margin-right: 32px;
      }
    }
  }

  // ori
  // .pc-nav {
  //   display: flex;
  //   justify-content: space-between;

  //   @media screen and (min-width: 768px) {
  //     justify-content: space-between;

  //     li {
  //       padding-right: 48px;
  //     }

  //     .social-medias-inner .icon-box {
  //       width: 40px;
  //       height: 40px;
  //       margin-right: 16px;

  //       &:last-child {
  //         // 大版第三個不右推
  //         margin: 0;
  //       }
  //     }
  //   }


  //   @media screen and (min-width: 992px) {
  //     .social-medias .icon-box {
  //       margin-right: 32px;
  //     }
  //   }
  // }

  .icon-group {
    text-align: start;
  }

  .icon-group>.material-icons-outlined {
    vertical-align: text-bottom;
    margin-right: 8px;

    @media screen and (min-width: 768px) {
      margin-right: 22px;
    }
  }

  // 外面的
  .social-medias-outer {
    display: flex;
  }

  .social-medias-outer .icon-box {
    width: 24px;
    height: 24px;
    padding-left: 8px;

    @media screen and (min-width: 768px) {
      width: 40px;
      height: 40px;
      padding-left: 16px;
    }

    @media screen and (min-width: 768px) {
      width: 48px;
      height: 48px;
    }
  }

  .icon-group span {
    @media screen and (min-width: 768px) {
      font-size: 36px;
    }
  }

  // 控 material icon 用 font-size 就可
  // .material-symbols-outlined {
  //   font-size: 24px;
  //   vertical-align: middle;

  //   @media screen and (min-width: 768px) {
  //     font-size: 36px;
  //     vertical-align: bottom;
  //   }

  //   // 細部設定
  //   // font-variation-settings:
  //   //   'FILL' 0,
  //   //   'wght' 400,
  //   //   'GRAD' 0,
  //   //   'opsz' 24;
  // }


  .d-pc-none {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .d-mobile-none {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  .declaration {
    text-align: start;
  }

  .declaration p {
    padding-bottom: 8px;
  }

  .declaration p:last-child {
    padding-bottom: 24px;
  }

  @media screen and (min-width: 768px) {
    .declaration {
      display: flex;
      justify-content: space-between;
      margin-block: 32px;

      .pc-box {
        display: flex;

        p:nth-child(1) {
          margin-right: 48px;
        }
      }
    }
  }
}