.header {
  background-color: $theme-color;

  .container {
    padding: 0;
  }

  .row {
    margin: 0;
  }

  .col {
    padding: 0;
  }

  .logo {
    width: 80px;
    padding: 12px 0 12px 15px;
  }

  ul {
    flex-wrap: wrap;
  }

  li {
    width: calc(50% - 2px);
    text-align: center;
    border: 1px solid #FFFFFF;
    line-height: 3;
  }

  @media screen and (min-width: 768px) {

    .row {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding-left: 36px;
      padding-right: 36px;
    }

    .col-md-1 {
      // 往右推至極限
      margin-right: auto;
    }

    .logo {
      padding-left: 0;
    }

    ul {
      flex-wrap: nowrap;
    }

    li {
      padding-left: 64px;
      border: none;
      width: auto;
    }
  }

  @media screen and (min-width: 992px) {
    .row {
      padding-left: 0;
      padding-right: 0;
    }

    .col-lg-2 {
      text-align: end;

      ul {
        justify-content: flex-end;
      }
    }
  }
}