.footer {
  background-color: $theme-color;
  color: white;

  .top-group {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
  }

  .icon-group {
    text-align: start;
  }

  .icon-group>.material-symbols-outlined {
    vertical-align: text-bottom;
    margin-right: 5px;
  }

  .icon-box,
  .icon-group.span {
    width: 24px;
    height: 24px;
  }

  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
  }

  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
  }

  .social-medias {
    display: flex;
  }

  .declaration {
    text-align: start;
  }


  .declaration p {
    padding-bottom: 8px;
  }
}