header {
  background-color: $theme-color;
}

.header {
  flex-direction: column;

  .logo {
    width: 80px;
    padding-block: 12px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 45%;
      // width: calc(50% - 2px);
      text-align: center;
      border: 1px solid #FFFFFF;
      line-height: 2;

      padding-left: 12px;
      padding-right: 12px;
      // padding-inline: 12px;
    }
  }
}